<a href="https://colab.research.google.com/github/Safhanafarha775/DataScience-Journey/blob/main/DS_Project2_PandasBasics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
#Age related BMI Calculator

#AGE CALCULATOR

from datetime import date

def calculate_age(birthdate):
    today = date.today()
    age = today.year - birthdate.year

    # Adjust if birthday hasn't occurred yet this year
    if (today.month, today.day) < (birthdate.month, birthdate.day):
        age -= 1
    return age

In [ ]:
#calculating BMI
def calculate_bmi(h, w, age):
    h_in_m = float(h / 100)
    bmi = w / (h_in_m ** 2)   # correct formula

    # Check age group
    if age >= 20:
        # Adult BMI classification
        if bmi < 18.5:
            status = "Underweight"
        elif 18.5 <= bmi < 24.9:
            status = "Normal weight"
        elif 24.9 <= bmi < 29.9:
            status = "Overweight"
        else:
            status = "Obese"
    else:
        # Children/teen BMI interpretation (simplified)
        if bmi < 5:
            status = "Underweight (percentile)"
        elif 5 <= bmi < 85:
            status = "Healthy (percentile)"
        elif 85 <= bmi < 95:
            status = "Overweight (percentile)"
        else:
            status = "Obese (percentile)"

    return bmi, status

In [ ]:
# Taking inputs
weight = float(input("Enter your weight in kgs: "))
height = float(input("Enter your height in cms: "))

# Take dob from user
dob_input = input("Enter your Date of Birth in dd/mm/yyyy format: ")

# Split input and convert to integers
day, month, year = map(int, dob_input.split('/'))
dob = date(year, month, day)

age=calculate_age(dob)

In [ ]:
bmi, status = calculate_bmi(height, weight, age)

print(f"\nYour BMI = {bmi:.2f}")
print(f"Status = {status}")

Step 1 : Create a small DataFrame

In [4]:
import pandas as pd

In [5]:
data= {"Name":["Ali","Sara","John"],"Age":[25,30,22],"City":["Delhi","Mumbai","Chennai"]}
df=pd.DataFrame(data)
print("Initial DataFrame : ",df)

Initial DataFrame :     Name  Age     City
0   Ali   25    Delhi
1  Sara   30   Mumbai
2  John   22  Chennai

Step 2 : Add New Column

In [7]:
df["Salary"]=[50000,38000,42000]
print("\n After adding Salary Column : ")
print(df)

 After adding Salary Column :
   Name  Age     City  Salary
0   Ali   25    Delhi   50000
1  Sara   30   Mumbai   38000
2  John   22  Chennai   42000

Step 3 : Update one row [Change age of john to 23]

In [8]:
df.loc[df["Name"]=="John","Age"]=23
print("\n After updating Age of John : ")
print(df)

 After updating Age of John :
   Name  Age     City  Salary
0   Ali   25    Delhi   50000
1  Sara   30   Mumbai   38000
2  John   23  Chennai   42000

Step 4 : delete one Column City

In [11]:
df=df.drop("City",axis=1)
print(df)

   Name  Age  Salary
0   Ali   25   50000
1  Sara   30   38000
2  John   23   42000